<!-- Jquery n Bootstrap Script -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> -->
{% load staticfiles %}
<style type="text/css">
    .profile-container{
        margin: auto;
		width: 100%;
		max-width: 950px;
		min-width: 760px;
        min-height: 260px;
        height: 40%;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        font-family: "Open Sans";

    }

    .profile-container .image-banner{
        position: relative;
    	flex: 1;
/*        background-image: linear-gradient(0deg,rgba(2,0,1,0.3),rgba(2,0,0,0.3)), url( "{% static 'image/img.jpg' %}");*/
        background-size: cover;
        
    }

    .profile-container .stats-bar{
    	height: 20%;
    	display: flex;
    	flex-direction: row;
    	justify-content: flex-end;
    }

    .profile-container .stats-bar .stats{
    	display: flex;
    	flex-direction: row-reverse;
    	justify-content: flex-end;
        margin-right: 0.3vw;
        font-family: "Open Sans";
    }

    .profile-container .stats-bar .stats .label {
        margin: auto;
        height: auto;
    	width: 5em;
        text-align: center;
        font-size: 1em;
        font-family: "Open Sans";
    }


    .profile-container #username{
        position: absolute;
        right: 0.3em;
        bottom: 0vh;
        font-size: 11vh;
        opacity: 0.5;
        color: white;
        line-height: 15vh;
        font-weight: bold;
        text-align: right;
        max-width: 50%;
        font-family: "Abril Fatface";
    }

    .profile-container .image-banner .image-profile {
        top: 43%;
        margin-left: 20px;
        height: 200px;
        position: absolute;
        z-index: 5;
        border-radius: 50%;
        background-color: white;
        max-width: 50%;
    }

    .stats .label {
        padding-bottom: 0;
    }

    #get-friends, #get-status {
        font-size: 3.5vh;
    }

    .image-banner .banner{
        position: absolute;
        max-width: 100%;
    }

    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 60%;
        max-width: 550px;
        font-family: 'Abril Fatface';
        font-size: 3em;
    }

    .modal-content textarea{
        font-size: 0.5em;
        font-family: "Open Sans";
    }

    .modal-content button{
        margin-top: 2vh;
        font-size: 0.5em;
        font-family: "Open Sans";
    }
    @media only screen and (max-width: 768px){
        .profile-container #username{

        }
        .profile-container{
            max-width: none;
            width: 100%;
            margin: 0;
            min-width: 0;
            background-color: black;
            display: flex;
        }

        .profile-container .image-profile .image-profile {
            height: 200px;
            position: absolute;
            z-index: 5;
            border-radius: 50%;
            background-color: white;
            margin: 0;
            padding: 0; 
            }

        .profile-container .image-banner .image-profile {
            margin-left: 10px;
        }

        .profile-container .stats-bar .stats > div {
            margin: auto;
            height: auto;
            width: 5em;
            text-align: center;
            font-size: 3vh;
        }

        .profile-container #username {
            letter-spacing: 0.4vh;
            position: absolute;
            right: 0.3em;
            bottom: 1vh;
            font-size: 9vh;
            opacity: 0.5;
            color: white;
            line-height: 9vh;
            font-weight: bold;
            text-align: right;
            max-width: 50%;
        }

        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            height: 80%;
            max-width: 550px;
        }

        .modal-content .post{
            font-size: 0.6em;
            font-family: "Open Sans";
            border: 0.5px solid lightgray;
            height: auto;
            overflow: 40%;
        }               
    }

    @media only screen and (max-width: 340px){
        
        .profile-container {
            max-height: 30%;
            max-width: none;
            width: 100%;
            margin: 0;
            min-width: 0;
            background-color: black;
            display: flex;
        }

        .profile-container #username {
            position: absolute;
            right: 0.2em;
            bottom: 1vh;
            font-size: 7.8vh;
            opacity: 0.5;
            color: white;
            line-height: 9vh;
            font-weight: bold;
            text-align: right;
            max-width: 50%;
        }

        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 90%;
            height: 80%;
            max-width: 550px;
        }
    }

    #modalBtn {
        cursor: pointer;
        transition: all .2s ease-in-out;  
        left: calc(50% - 0.7em);
        position: fixed;
        bottom: 2vh;
        height: 1.4em;
        width: 1.4em;
        border-radius: 100%;
        border-style: none;
        font-size: 4em;
        background-color: black;
        color: white;
        opacity: 0.6;
        padding: auto;
        line-height: 1.4em;
        text-align: center;
    }

    #modalBtn:hover {
        box-shadow: 1px;
        left: calc(50% - 0.8em);
        bottom: 1.4vh;
        height: 1.6em;
        width: 1.6em;
        font-size: 4.2em;
        opacity: 1;
        line-height: 1.6em;
        text-align: center;
    }

</style>

<div class="profile-container">
    <div class="image-banner">
<!--         <img class="banner" src="{% static 'image/img.jpg' %}"/> -->
        <div class="image-profile">
            
        </div>
        <div id="username">
            
        </div>
	</div>
	<div class="stats-bar">
		<div class="stats">
			<div id="friends-total">
				<div class="label" id="friends-label">
					Friends
				</div>
				<div id="get-friends">
					
				</div>
			</div>
			<div id="status">
				<div class="label" id="status-label">
					Status
				</div>
				<div id="get-status">
					
				</div>
			</div>
		</div>
	</div>
</div>

<a id="modalBtn">+</a>

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>What's new today?</p>
    <div>
    <textarea type="text" class="form-control post" id="postInput" rows="3" placeholder="Rumour has it..."></textarea>
    <button class="postStatus" onclick="postStatus()">Post to Facebook</button>
</div>
  </div>

</div>
<!-- 
<button class="logout" onclick="facebookLogout()">Logout</button> -->