
<style type="text/css">

  .navbar{
    font-family: Raleway;
    margin-bottom: 0;
    overflow: hidden;
  }
  nav{
    color: #ffffff;
    line-height: 2.5em;
    font-size: 1.8em;
    margin: 0;
    width: 100%;
  }

  .nav-container{
    border-radius: 0;
    background: black;
    height: 2em;
    color: white;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    color: white;
    line-height: 1.8em;
    padding-left: 0.4em;
  }

  #nav-brand{
    float: left;
  }

  #logoutBtn, #backBtn{
    float: right;

  }

  #logoutBtn, #backBtn{
    font-size: 0.8em;
    height: 2em;
    line-height: 1em;
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 1.6px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    padding: 0.4em;
    margin-top: 0.25em;
    margin-right: 0.5em;
  }

  a {
    color: white;
  }

  #logoutBtn:hover , #backBtn:hover{
    background: white;
    color: black;
    border: 3px solid white;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    text-decoration: none;
  }

  #logoutBtn:hover >a, #backBtn:hover >a{
    color: black;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }

</style>

<div class="navbar">
  <nav class="nav-container navbar fixed-top">
    <div id="nav-brand">
      Enterkomputer
    </div>
  </nav>  
</div>