<link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet"/>
<style type="text/css">

  .navbar{
    margin-bottom: 0;
    overflow: hidden;
  }
  nav{
    font-family: 'Karla', sans-serif;
    color: #ffffff;
    line-height: 26px;
    font-size: 18px;
    margin: 0;
    width: 100%;
  }

  .nav-container{
    border-radius: 0;
    background: #6bbaa7;
    height: 2em;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    line-height: 2em;
  }

  #nav-brand{
    float: left;
  }

  #logoutBtn{
    float: right;

  }

  #logoutBtn {
  color: #c7f8f9;
  background: transparent;
  border: 3px solid #c7f8f9;
  border-radius: 1.6px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  }

  a {
    color: #c7f8f9;
  }

  #logoutBtn:hover {
    background: #c7f8f9;
    color: #6ab1c9;
    border: 3px solid #6ab1c9;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }

  #logoutBtn:hover >a {
    color: #6ab1c9;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }

</style>

<div class="navbar">
  <nav class="nav-container navbar fixed-top">
    <div id="nav-brand">
      Anisha Inas
    </div>
    <button id="logoutBtn" onclick="facebookLogout()">
      log out
    </button>
  </nav>  
</div>