<link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet"/>
  <style type="text/css">

  .navbar {
    width: auto;
    height: 2em;
  }

  nav p{
  
    font-family: 'Karla', sans-serif;
    color: #ffffff;
    line-height: 26px;
    font-size: 18px;
    margin: 0;
  }
    html {
      margin: auto;
      height: 100%;
    }

    @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,latin-ext);

    .navbar {
      padding-left: 0.2em;
      padding-right: 0.2em;
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      line-height: 3.5em;
    }

    #nav-brand{
      line-height: 3.2em;
    }
    .nav-container{
      border-radius: 0;
      background: #6bbaa7;
      height: 3.5em;
      display: flex;
    }

    .logout{
      width: 5em;
      cursor: pointer;
      height: 80%;
      background-color: red;
    }


</style>

<div class="navbar">
  <nav class="nav-container navbar fixed-top">
    <p id="nav-brand">
      Anisha Inas
    </p>
    <div class="logout" onclick="facebookLogout()">
      log out
    </div>
  </nav>  
</div>